body {
background: rgb(238, 239, 182);
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: navy;
text-align: center;
}
h2, h3 {
    color: white;
    background-color:navy
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(navy); 
display: block;
margin: auto;
}

a {
text-decoration: none;
color: red;
}
.project p {
text-align: center;
margin: 15px;
}